#header {
  text-align: center;
}

#indexBackground {
  background-color: #ff3366;
}

p {
  font-size: 2em;
  font-family: Arial;
  color: white;
}

a {
  color: #00DEF2;
}

h1 {
  font-family: Arial;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.inputBox {
  background-color: white;
}

#imgBox {
  visibility: hidden;
}

#analyze {
  background-image: url(../images/preclickButton.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#hisDeal {
  font-family: Arial;
  color: white;
}

#about {
  background-image: url(../images/queenMindy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.whiteBox {
  background-color: rgba(250, 250, 250, .25);
}

.aboutText {
  font-size: 1em;
}

h2 {
  color: white;
  font-size: 1.5em;
  font-family: Arial;
}

#orderField {
  font-family: Arial;
  color: white;
}
